/* ============== navbar start ============ */
.header-section {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all .3s;
    .navbar {
        //  border: 1px solid red;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        padding: 20px 15px;
        background-color: var(--white);

        .navbar-brand {
            width: 70px;
        }

        .menu-bar-section {
            li {
                padding: 5px 10px;

                a {
                    font-size: 1.3rem;
                    font-weight: 500;

                    &:hover {
                        color: var(--theam-color);
                    }
                }
            }
        }
    }
}
.navbar-scroll{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
}
.modal{
    .modal-body{
        input{
                 width: 100%;
                border: 1px solid lightgray;
                border-radius: 3px;
                padding: 8px 5px;
        }
    }
    .login-btn{
        color: white;
        background-color: var(--theam-color);
        box-shadow: 0 20px 20px rgba(26,77,190,.2);
        margin-bottom: 20px;
        width: 170px;
        padding: 10px 30px !important;
        transition: all .3s;
        &:hover{
            background-color: transparent;
            color: var(--black);
        }
    
    }
}

/* ============== navbar End ============ */
/* =============== banner section start =============== */

.Loan-banner-section {

    .banner-img-section {
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90vh;
        
            .img-box-1{
                position: absolute;
                left: 100px;
            }
            .contain-body {
                // padding: 9rem 20px;
            
            }
        }


    }
}

/* =============== banner section End =============== */
/* ============ why-choose-section start ============= */
.why-choose-section {
    margin: 50px 0;

    .why-choose-contain {
        .icon-box {
            text-align: center;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid var(--theam-color);

        }
    }
}

/* ============ why-choose-section End ============= */
/* ============= Testimonials-section start ===========*/
.Testimonials-section {
    margin: 50px 0;



    .swiper-wrapper {
        margin: 10px 0;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        .card {
            background: var(--white);
            box-shadow: 0 8px 30px -7px #c9dff0;
            margin: 0 20px;
            padding: 0 10px;
            border-radius: 20px;
            border: 0;

            .img-box {
                height: 120px;
                width: 120px;
                margin-inline: auto;
                margin: 15px auto 0;

            }

            .card-img-top {
                border-radius: 50%;
                max-width: 100%;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 8px 20px -4px #95abbb;

            }

            .card-body {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                min-height: 1px;
                padding: 1.25rem;

                p {
                    padding-bottom: 15px;
                }
            }
        }
    }


}

/* ============= Testimonials-section End ===========*/
/* =========== loan-counter-section start =============== */
.loan-counter-section{
    margin: 50px 0;
    .counter-boday{
        padding: 20px;
        box-shadow: 0 8px 30px -7px #c9dff0;
        height: 200px;
        .counter-number-section{
            margin: 20px 0;
            h3{
                text-align: center;
            }
        }
        p{
            text-align: center;
            width: min(100% - 20px , 80%);
            margin-inline: auto;
        }
    }
}
/* =========== loan-counter-section End =============== */

/* ================ loan application start ============ */
.Loan-application-setion {
    .loan-application-body{
        box-shadow: 0 8px 30px -7px #c9dff0;
        padding: 5rem;
        margin: 20px 0;
        width: min(100% - 20px , 80%);
        margin-inline: auto;
        .loan-application-head{
            margin: 2rem 0;
        }
        .from-section{
            .m-basics{
                margin: 1rem 0;
            }
            label{
                color: var( --light-theam-colo);
                margin-bottom: 5px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            select{
                width: 100%;
                border: 1px solid lightgray;
                border-radius: 3px;
                padding: 8px 5px; 
                box-shadow: 0 7px 10px -7px #b4b2b2;
                &:focus{
                    outline: 1px solid var(--theam-color);
                }
            }
            textarea{
                width: 100%;
                border: 1px solid lightgray;
                border-radius: 3px;
                padding: 8px 5px; 
                box-shadow: 0 7px 10px -7px #b4b2b2;
                &:focus{
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

                    outline: 1px solid var(--theam-color);
                }
            }
            input{
                width: 100%;
                border: 1px solid lightgray;
                border-radius: 3px;
                padding: 8px 5px;
                box-shadow: 0 7px 10px -7px #ddd9d9;
                &:focus{
                    // box-shadow: 7px 00px 10px rgba(26,77,190,.2);
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                    outline: 1px solid var(--theam-color);
                }
            }
            .gender-input{
                width: 10%;
            }
            

            .table-section{
                width: 100%;
                .table{
                    width: 100%;
                    // border: 1px solid var(--light-theam-color);
                    thead{
                        tr{
                            th{
                                text-align: center;
                                padding: 10px 0;
                            }
                        }
                    }
                    tbody{
                        tr{
                            th{
                                text-align:start;
                                padding: 10px 0;
                                text-align: center;
                                input{
                                    width: auto;
                                }
                            }
                            td{
                                padding: 10px 0;
                                text-align: center;
                            }
                        }
                    }
                    
                    .checkbox {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        // margin-right: 20px;
                      }
                      
                      .checkbox input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                      }
                      
                      .checkbox-circle {
                        position: relative;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 2px solid #aaa;
                        transition: all 0.3s;
                      }
                      
                      .checkbox input[type="checkbox"]:checked ~ .checkbox-circle {
                        background: #4CAF50;
                        border-color: #4CAF50;
                      }
                      
                      .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        fill: none;
                        stroke: #fff;
                        stroke-width: 3;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        opacity: 0;
                        transition: all 0.3s;
                      }
                      
                      .checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark {
                        opacity: 1;
                      }
                      
                      .checkmark-circle {
                        stroke-dasharray: 166;
                        stroke-dashoffset: 166;
                        transition: stroke-dashoffset 0.3s;
                      }
                      
                      .checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark-circle {
                        stroke-dashoffset: 0;
                      }
                      
                      .checkmark-kick {
                        stroke-dasharray: 50;
                        stroke-dashoffset: 50;
                        transition: stroke-dashoffset 0.3s;
                      }
                      
                      .checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark-kick {
                        stroke-dashoffset: 0;
                      }
                        
                }
            }
            .btn-section{
                display: flex;
                justify-content: center;
                margin: 10px 0;
                button{
                    color: white;
                    background-color: var(--theam-color);
                    box-shadow: 0 20px 20px rgba(26,77,190,.2);
                    margin-bottom: 20px;
                    width: 170px;
                    padding: 10px 30px !important;
                    transition: all .3s;
                    &:hover{
                        background-color: transparent;
                        color: var(--black);
                    }
                }
            }
            
        }
 
             
    }
}

/* ================ loan application End ============ */ 
/* =========== Loan document start ================= */
.Loan-Documnent-setion{
    .loan-Documnent-body{
        .loan-Documnent-head{
            margin: 50px 0;
        }
        .card{
            border: none;
            box-shadow: 0 12px 24px rgba(47,65,129,.1);
             border-radius: 20px;
            height: 260px;
            background-color: #ffffff;
            padding: 10px 30px 40px;
            margin-bottom: 20px;
            transition: all 0.10s ease-in-out;
            &:hover{
                border: 1px solid var(--theam-color);
                .drop_box{
                    border: 1px dashed var(--theam-color);

                }
            }

            h3 {
                font-size: 22px;
                font-weight: 600;
                
            }
             .drop_box {
               margin: 10px 0;
               padding: 30px;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               border: 1px dashed rgba(0, 0, 0, 0.21);
               border-radius: 5px;
                height: 100%;
                
                &:hover{
                    border: 1px dashed var(--theam-color);
                }
            }
        }
        
    }
}
/* =========== Loan document End ================= */



    
/* =========== footer setion start ============*/
.footer-wrapper {
    padding: 30px 10px;

    .footer-area {
        .single-footer-caption {
            margin-bottom: 50px;
        }

        .footer-logo {
            width: 80px;
            margin-bottom: 35px;
        }

        .footer-tittle {
            h4 {
                font-size: 1.3rem;
            }

            ul {
                li {
                    padding: 7px 5px;

                    a {
                        // font-size: 15px;
                        color: var(--black);
                        transition: .3s;
                        position: relative;
                        display: flex;
                        align-items: center;
                        &:hover{
                            color: var(--theam-color);
                        }
                    }
                }
            }
        }
        .footer-form{
            .email-class{
                border: 1px solid var(--theam-color);
                padding: 10px;
                width: 300px;
            }
            .btn-section{
                margin: 10px 0;
                button{
                    color: white;
                    background-color: var(--theam-color);
                    box-shadow: 0 20px 20px rgba(26,77,190,.2);
                    margin-bottom: 20px;
                    width: 170px;
                    padding: 10px 30px !important;
                    transition: all .3s;
                    &:hover{
                        background-color: transparent;
                        color: var(--black);
                    }
                }
            }
        }
        .footer-social{
            margin-top: 40px;
            a{
                // border: 1px solid var(--theam-color);
                padding: 10px;
                border-radius: 5px;
                margin-inline:5px ;
                width: 50px;
                height: 50px;
                color: var(--black);
                transition: all .3s;

                // box-shadow: 0 20px 20px rgba(26,77,190,.2);
                box-shadow: rgba(26,77,190, 0.2) 0px 2px 8px 0px;
                i{
                    font-size: 17px;
                }
                &:hover{
                    background-color: var(--theam-color);
                    i{
                        color: var(--white);
                    }
                }
            }
        }

    }
}

/* =========== footer setion End ============*/